@media (min-width: 1281px) {
  .topnav {
    overflow: hidden;
    background-color: #B77427;
  }

  .logo-image {
    background-color: transparent;
    float: left;
    overflow: hidden;
    }

  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a:hover {
    background-color: #d6a856;
    color: black;
  }

  .topnav a.active {
    background-color: #d8af67;
    color: black;
  }
  
  .topnav .login-container {
    float: right;
  }
  
  .topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    width:120px;
  }
  
  .topnav .login-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background-color: #297ba7;
    color: white;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  
  .topnav .login-container button:hover {
    background-color: #008ad4;
  }
  
  @media screen and (max-width: 600px) {
    .topnav .login-container {
      float: none;
    }
    .topnav a, .topnav input[type=text], .topnav .login-container button {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;  
    }
  }
  
  .main_Image {
    max-width: 99%;
    max-height: 99%;
  }

  * {
    box-sizing: border-box;
  }

  .column {
    float: left;
    width: 33.33%;
    padding: 0 8px;
    height: 400px;
    text-align: center;
    box-sizing: border-box;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .column img {
    margin: -150px 0px 0px -150px;
  }

  body {
    background-color: #c5e1e4;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif; 
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .topnav {
    overflow: hidden;
    background-color: #B77427;
  }

  .topnav b {
    background-color: transparent;
    float: left;
    text-align: center;
    padding: 6px 16px;
    overflow: hidden;
    }

  .topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a:hover {
    background-color: #d6a856;
    color: black;
  }

  .topnav a.active {
    background-color: #d8af67;
    color: black;
  }

  .main_Image {
    max-width: 99%;
    max-height: 99%;
  }

  * {
    box-sizing: border-box;
  }

  .column {
    float: left;
    width: 33.33%;
    padding: 0 8px;
    height: 400px;
    text-align: center;
    box-sizing: border-box;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .column img {
    margin: -150px 0px 0px -150px;
  }

  body {
    background-color: #c5e1e4;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
  }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .topnav {
    overflow: hidden;
    background-color: #B77427;
  }

  .topnav b {
    background-color: transparent;
    float: left;
    text-align: center;
    padding: 6px 16px;
    overflow: hidden;
    }

  .topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a:hover {
    background-color: #d6a856;
    color: black;
  }

  .topnav a.active {
    background-color: #d8af67;
    color: black;
  }

  .main_Image {
    max-width: 99%;
    max-height: 99%;
  }

  * {
    box-sizing: border-box;
  }

  .column {
    float: left;
    width: 33.33%;
    padding: 0 8px;
    height: 400px;
    text-align: center;
    box-sizing: border-box;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .column img {
    margin: -150px 0px 0px -150px;
  }

  body {
    background-color: #c5e1e4;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
  }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .topnav {
    overflow: hidden;
    background-color: #B77427;
  }

  .topnav b {
    background-color: transparent;
    float: left;
    text-align: center;
    padding: 6px 16px;
    overflow: hidden;
    }

  .topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a:hover {
    background-color: #d6a856;
    color: black;
  }

  .topnav a.active {
    background-color: #d8af67;
    color: black;
  }

  .main_Image {
    max-width: 99%;
    max-height: 99%;
  }

  * {
    box-sizing: border-box;
  }

  .column {
    float: left;
    width: 33.33%;
    padding: 0 8px;
    height: 400px;
    text-align: center;
    box-sizing: border-box;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .column img {
    margin: -150px 0px 0px -150px;
  }

  body {
    background-color: #c5e1e4;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .topnav {
    overflow: hidden;
    background-color: #B77427;
  }

  .topnav b {
    background-color: transparent;
    float: left;
    text-align: center;
    padding: 6px 16px;
    overflow: hidden;
    }

  .topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a:hover {
    background-color: #d6a856;
    color: black;
  }

  .topnav a.active {
    background-color: #d8af67;
    color: black;
  }

  .main_Image {
    max-width: 99%;
    max-height: 99%;
  }

  * {
    box-sizing: border-box;
  }

  .column {
    float: left;
    width: 33.33%;
    padding: 0 8px;
    height: 400px;
    text-align: center;
    box-sizing: border-box;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .column img {
    margin: -150px 0px 0px -150px;
  }

  body {
    background-color: #c5e1e4;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
  }
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */  
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #c5e1e4;
  color: rgb(0, 0, 0);
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #65a0a6;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #e5bc76;
  padding: 20px;
}